{% extends 'home.html' %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2>{{ news.title }}</h2>
            <small class="text-muted">Yaratilgan sana: {{ news.created_at }}</small>
        </div>
        <div class="card-body">
            <p>{{ news.content }}</p>
        </div>
        <div class="card-footer text-muted">
            <p>Muallif: {{ news.user.username }}</p>
            <a href="{% url 'home' %}" class="btn btn-secondary">Ortga</a>
        </div>
    </div>
</div>
{% endblock %}
